.header .logo {
  max-width: 2rem;
}

.main-nav .main-nav-link {
  color: #fc0;
  font-weight: bold;
  @apply py-2 px-4 mr-2 rounded-md;
}

.main-nav .main-nav-link:hover {
  /* @apply bg-gray-800; */
}

.main-nav .main-nav-link.active {
  @apply text-white bg-gray-800;
}

.main-container {
}

.card-poster {
  aspect-ratio: 9/14;
  background-size: cover;
  background-position: center;
  box-shadow: 0 25px 45px -35px rgba(0, 0, 0, 1);
}

.card-body-year {
  display: block;
}

.card-body-genre {
  display: none;
}

.card:hover .card-body-year {
  display: none;
}

.card:hover .card-body-genre {
  display: block;
}

.search-result-card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 9/14;
}

.search-result-card .info {
  @apply bg-dark/90 w-full h-full p-4;
}

.search-result-card:hover .info {
  display: block;
}

.search-input-input:disabled {
}
