.header .logo {
  max-width: 2rem;
}

.main-nav .main-nav-link {
  color: #fc0;
  font-weight: bold;
  @apply py-2 px-4 mr-2 rounded-md;
}

.main-nav .main-nav-link:hover {
  @apply bg-gray-800;
}

.main-nav .main-nav-link.active {
  @apply text-white bg-gray-800;
}

.card {
  aspect-ratio: 9/14;
  background-size: cover;
  background-position: center;

}

.card .card-body {
  cursor: pointer;
  @apply p-4 text-sm absolute z-20 w-full h-full hidden;
  top: 0;
}

.card:hover .card-body {
  @apply bg-dark-900/90;
  display: block;
}

.search-result-card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 9/14;
}

.search-result-card .info {
  @apply bg-dark/90 w-full h-full p-4;
}

.search-result-card:hover .info {
  display: block;
}

.search-input-input:disabled {}

.root.modal-visible .header,
.root.modal-visible .main-container {
  filter: blur(10px);
}