@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100vh;
  }

  body {
    font-size: 1rem;
    font-weight: 300;
    line-height: 170%;
    @apply text-sand-300;
    background-image: radial-gradient(farthest-corner at 0% 100%, #1b2834 10%, #3e5c71 100%);
    background-attachment: fixed;
  }

  #root {
    height: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 100;
    @apply text-sand-100;
    line-height: 1.25;
    margin-bottom: 2rem;
    letter-spacing: -0.01em;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2.7rem;
  }

  h4 {
    font-size: 2.125rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1.125em;
  }

  p {
    margin-bottom: 1em;
  }

  small {
    font-size: 0.75em;
  }

  .button,
  button {
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    @apply bg-blue-800 text-sand-300 font-medium py-4 px-6 rounded-none outline-none leading-none;
  }

  .button:hover:not([disabled]),
  button:hover:not([disabled]),
  button:focus:not([disabled]) {
    @apply bg-blue-700;
  }

  .button-primary {
    @apply bg-primary;
  }

  .button-primary:not([disabled]):hover {
    @apply bg-primary-600;
  }

  .button-secondary {
    @apply bg-secondary;
  }

  .button-secondary:hover {
    @apply bg-secondary-600 text-sand;
  }

  .button.disabled,
  button:disabled {
    @apply text-blue-400 bg-blue-600;
  }

  .button-icon {
    @apply p-0 rounded-full flex items-center justify-center aspect-square;
  }

  label {
    font-weight: 500;
  }

  input::placeholder {
    @apply text-blue-300;
  }

  input[type="email"],
  input[type="text"],
  input[type="password"] {
    @apply bg-blue appearance-none border-none;
  }
  input[type="email"]:focus,
  input[type="text"]:focus,
  input[type="password"]:focus {
    @apply bg-blue-300 text-blue-800;
  }

  /*
  TODO: change autofill color to tailwind
  */
  /* Change the white to any color */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #517894 inset !important;
  }

  /*
  TODO: change autofill color to tailwind
  */
  /*Change text in autofill textbox*/
  input:-webkit-autofill {
    -webkit-text-fill-color: #0e151a !important;
  }

  .badge {
    @apply text-blue-900 bg-sand rounded-md py-0.5 px-2 font-medium text-sm;
  }

  .imdb-badge {
    align-self: flex-start;
    background-color: #ffc600;
    border-radius: 3px;
    font-weight: bold;
    line-height: 1.3rem;
    padding-right: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imdb-badge img {
    height: 1.25rem;
  }

  .imdb-badge span {
  }
}
