@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-size: 1rem;
    font-weight: 300;
    line-height: 170%;

    @apply bg-dark text-light;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 100;
    @apply text-light-100;
    line-height: 1.25;
    margin-bottom: 2rem;
    letter-spacing: -.01em;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2.7rem;
  }

  h4 {
    font-size: 2.125rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1.125em;
  }

  p {
    margin-bottom: 2em;
  }

  small {
    font-size: .75em;
  }

  .button,
  button,
  button[type=button],
  button[type=submit],
  button[type=reset] {
    @apply bg-primary text-light font-bold py-3 px-6 rounded-md outline-none;
  }

  .button:hover:not([disabled]),
  button:hover:not([disabled]),
  button:focus:not([disabled]) {
    @apply bg-primary-600 drop-shadow-lg;
  }

  .button-primary {
    @apply bg-primary text-light;

  }

  .button-primary:not([disabled]):hover {
    @apply bg-primary-600;
  }

  .button-secondary {
    @apply bg-secondary text-light;
  }

  .button-secondary:hover {
    @apply bg-secondary-600 text-light;
  }


  .button.disabled,
  button:disabled {
    @apply text-dark-400 bg-dark-600;

  }

  .button-icon {
    @apply p-2 rounded-full;
  }


  label {
    font-weight: 500;
  }

  input::placeholder {
    @apply text-dark-200;
  }

  input[type=email],
  input[type=text],
  input[type=password] {
    @apply bg-dark-400 appearance-none border-none rounded;
  }

  input:focus {
    @apply bg-dark-100 text-dark border;
  }
}